<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="form-group col-3">
        <div class="form-control row">
          <%= form.file_field :image, id: :post_file, class: 'form-control' %>
        </div>

      </div>
      <div class="form-group col-9">
        <div class="form-control row"> 
          <label><strong>Title:</strong></label>
          <%= form.text_field :title, id: :post_title, class: 'form-control' %>
        </div>
          <div class="form-control row"> 
            <label><strong>Content:</strong></label>
            <<%= form.text_area :content, id: :post_content, class: 'form-control', rows: 15 %>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
